body {
	background: #5aa2d5;
	text-transform: uppercase;
	font-family: Tahoma, Geneva, sans-serif;
	color: #fff;
	padding: 20px;
}

form {
	display: flex;
}

section {
	flex-direction: column;
}

.1 {
	flex: 1;
}

.1 {
	flex: 1;
}

.3 {
	flex: 1;
}



/* color for focused box: #2b6898 */