body {
	background: #5aa2d5;
	text-transform: uppercase;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #fff;
	padding: 20px 20px 0;
	display: flex;
	justify-content: center;
	box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing:inherit;
}

form {
	display: flex;
	justify-content: space-around;
}

section {
	flex-direction: column;
	margin: 0 20px 0;
	width: 400px;
	box-sizing: border-box;
}

::placeholder {
	color: #486c85;
	font-style: italic;
}

input, select, textarea {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #fff;
	width: 100%;
	border: 2px solid #fff;
	background: #5aa2d5;
	padding: 12px 12px;
	margin: 5px 0 30px 0;
}

input:focus, select:focus, textarea:focus {
	outline: 2px solid #2b6898;
	font-size: 16px;
	color: #fff;
	font-family: Tahoma, Geneva, sans-serif;
}